.marco {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
}
.body-test{
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: 0;
}
.body-test input {
  display: inline;
}
span {
  display: inline;
  padding-left: 20px;
  font-weight: bold;
}
.fila{
  display: flex;
    gap: 3px;
    margin: 10px 0;
    justify-content: flex-start;
    align-items: baseline;
}

.boton-download {
  color: white;
  margin-right: 20px;
}
.pregunta{
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: 20px;
}
.respuesta{
  padding: 5px;
  margin: 10px;
}
.resultados{
  border: 1px solid #974cd9;
  border-radius: 5px;
  margin: 10px;
}
.resultados p {
  margin: 0 10px;

}
.resultados p span {
  font-weight: bold;
}